# Django
DEBUG=false
SECRET_KEY=buraya-guclu-bir-secret-key-yazin
ALLOWED_HOSTS=127.0.0.1,localhost
CANONICAL_HOST=127.0.0.1:8000
APP_BASE_URL=http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=https://ornek-site.onrender.com
SECURE_SSL_REDIRECT=true
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=true
SECURE_HSTS_PRELOAD=true

# Database
DATABASE_URL=

# Gmail SMTP ayarlari
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=seninadresin@gmail.com
EMAIL_HOST_PASSWORD=google_uygulama_sifresi
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
DEFAULT_FROM_EMAIL=seninadresin@gmail.com
